 <header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
        <a asp-action="Index" asp-controller="Home" class="navbar-brand">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a asp-action="Index" asp-controller="Home" class="nav-link active" aria-current="page">Home</a>
            <a asp-action="About" asp-controller="Home" class="nav-link">About</a>
            <a asp-action="Contact" asp-controller="Home" class="nav-link">Contact</a>
            <a asp-action="Contact" asp-controller="Home" class="nav-link">Location</a>
            </div>
        </div>
        </div>
    </nav>
</header>