@model UserLoginViewModel

<form asp-action="In" asp-controller="Sign" method="post">
    <input asp-for="UserName" placeholder="username" /> <br />
    <input asp-for="Password" placeholder="password" type="password" /> <br />
    <input type="submit" value="Login" />
</form>